// Font Settings

$baseFontFamily: "myriad-pro", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$monoFontFamily: Menlo, Monaco, "Courier New", monospace;
$baseFontSize: 16;
$baseLineHeight: 30;
$monoFontSize: 12;
$monoLineHeight: 20;


// Colours

// $bodyBackground: #fff;
// $textColour: #000;