// Font Settings

$baseFontFamily: "myriad-pro", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$monoFontFamily: Menlo, Monaco, "Courier New", monospace;
// $baseFontSize: 14;
// $baseLineHeight: 20;
$monoFontSize: 12;


// Colours

// $bodyBackground: #fff;
// $textColour: #000;