.bio {
    overflow: hidden;
    margin-top: pxToRem(50);
}

.bio-heading {
    @include h2;
}

.bio-image {
    float: left;
    margin: pxToRem(20) pxToRem(20) pxToRem(20) 0;
    
    @media (max-width: pxToRem(640)) {
        display: none;
    }
}

.bio-body {
    @include bodyCopy;
    
    overflow: hidden;
}