.bio {
    overflow: hidden;
    margin-top: pxToRem(50);
    
    &.is-onHomePage {
        margin-top: pxToRem(100);
    }
}

.bio-heading {
    @include h2;
    
    .is-onHomePage & {
        @include h1;
    }
}

.bio-image {
    float: left;
    margin: pxToRem(20) pxToRem(20) pxToRem(20) 0;
    
    @media (max-width: pxToRem(640)) {
        display: none;
    }
}

.bio-body {
    @include bodyCopy;
    
    overflow: hidden;
}