.homeLink {
    margin-top: 100px;
    margin-bottom: 50px;
    
    position: relative;
    
    &:after {
        @include generatedContent;
        @include positionAbs($left: 0, $right: 0, $top: 50%);
        
        border-top: 1px solid $borderColour;
    }
    
    a {
        @include square(30px);
        
        display: block;
        margin: 0 auto;
        
        position: relative;
        z-index: 1;
        
        text-indent: -9999px;
        
        background-color: $bodyBackground;
        background-image: $icons-sprites;
        @include icons-sprite-position("home");
        
        &:hover,
        &:focus {
            @include icons-sprite-position("home-active");
        }
    }
}