@mixin h1 {
    @include fontSize(48, 60);
    
    font-family: $headingFontFamily;
    font-weight: bold;
}

@mixin h2 {
    @include fontSize(24, 30);
    
    font-family: $headingFontFamily;
    font-weight: bold;
}