code,
kbd,
pre,
samp {
    @include fontSize($monoFontSize, $monoLineHeight);
}

@mixin link {
    color: $linkColour;
    text-decoration: underline;
    
    &:hover,
    &:focus {
        color: $linkColourHover;
    }

    &:visited {
        color: $linkColourVisited;
    }
}

@mixin bulletList {
    margin: pxToRem(20) 0;
    
    li {
        position: relative;
        padding-left: pxToRem(20);
        
        &:before {
            $bulletSize: 6;
            
            @include generatedContent;
            @include square(pxToRem($bulletSize));
            @include positionAbs(0, pxToRem(($baseLineHeight / 2) - ($bulletSize / 2)));
            
            background-color: $textColour;
        }
    }
}

@mixin bodyCopy {
    p {
        margin: 20px 0;
    }
    
    ul {
        @include bulletList;
    }

    blockquote,
    figure,
    pre {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    figure,
    pre {
        margin-left: -#{calculatePercentage(160, 620)};
        margin-right: -#{calculatePercentage(160, 620)};
    }
    
    blockquote {
        position: relative;
        left: calculatePercentage(80, 620);
        font-style: italic;
    }
    
    figcaption {
        padding-left: calculatePercentage(160, 940);
        padding-right: calculatePercentage(160, 940);
        
        margin-top: pxToRem(10);
        
        color: $captionColour;
        text-align: center;
    }

    pre {
        border: 1px solid $borderColour;
        background-color: $codeBackground;
        
        margin-left: -#{calculatePercentage(160, 620)};
        margin-right: -#{calculatePercentage(160, 620)};
        
        padding: pxToRem(30) calculatePercentage(159, 640);
    }
    
    em {
        font-style: italic;
    }
    
    strong {
        font-weight: bold;
    }
    
    a {
        @include link;
    }
}